{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexVerse</title>
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">     
    <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>      
  </head>
  
  <body class="size-1140">
    <header role="banner" class="position-absolute">    
      <!-- Top Navigation -->
      <nav class="background-transparent background-transparent-hightlight full-width sticky">
        <div class="s-12 l-2">
          <a href="index.html" class="logo">
            <!-- Logo White Version -->
            <img class="logo-white" style="visibility: hidden;" src="{% static 'img/nex.png' %}" alt="">
            
            <!-- Logo Dark Version -->
            <img class="logo-dark" style="visibility: hidden;" src="{% static 'img/nex_white.png' %}" alt="">
          </a>
        </div>


        <div class="top-nav s-12 l-10">
          <ul class="right chevron">
            <li><a href="index.html"><b>Home</b></a></li>
            <li><a href="services.html"><b>Services</b></a></li>
            <li><a href="about.html"><b>About</b></a></li>
          </ul>
        </div>

          
        </div>

      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">    
      <!-- Main Header -->

      <header>
        <div class="carousel-default owl-carousel carousel-main carousel-nav-white background-dark text-center">
          <div class="item">
            <div class="s-12">
              <img class = "img-blur" src="{% static 'img/gaming_s.jpg' %}" alt="">
              <div class="carousel-content">
                <div class="content-center-vertical line">
                  <div class="margin-top-bottom-80">
                    <!-- Title -->
                    <h1 class="text-white margin-bottom-30 text-size-60 text-m-size-30 text-line-height-1">NexVerse</h1>
                    <div class="s-12 m-10 l-8 center"><h4 class="text-white text-bold text-size-14 margin-bottom-40">Join us on a journey to the future of gaming and technology !
                    </h4></div>
                    <div class="line">
                      <div class="s-12 m-12 l-3 center">
                        <a class="button button-white-stroke s-12" href="about.html">About Us</a>
                      </div>       
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>              
        </div>               
      </header>

    

      <section class="section background-white text-center">
        <div class="line">
          <h2 class="text-size-50  text-m-size-40 text-center">Our Clients</h2>
          <hr class="break-small background-primary break-center">
          <div class="carousel-default owl-carousel carousel-wide-arrows">
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-04.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Cloud Odyssey</p>
              </div>
            </div>
            <div class="item"> 
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-05.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Cloudtaru</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">MouriTech</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Dextara Digital</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Wissen Infotech</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">KCloud</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">360 degree</p>
              </div>
            </div>

            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Prudent</p>
              </div>
            </div>
            <div class="item">
              <div class="s-12 m-12 l-7 center text-center">
                <!-- <img class="image-testimonial-small" src="img/testimonials-06.png" alt=""> -->
                <p class="h1 margin-bottom text-size-20">Absyz</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      

    </main>
    

    <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>
    <script type="text/javascript" src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/template-scripts.js' %}"></script>
  </body>
</html>